In [4]:
%matplotlib inline
import pandas as pd
from fbprophet import Prophet

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [8]:
df = pd.read_csv('file/AirPassengers.csv')

df.head(10)

     Month  AirPassengers
0  1949-01            112
1  1949-02            118
2  1949-03            132
3  1949-04            129
4  1949-05            121
5  1949-06            135
6  1949-07            148
7  1949-08            148
8  1949-09            136
9  1949-10            119